VITE_RPC_URL=http://127.0.0.1:8545
VITE_CONTRACT_ADDRESS=put_challenge_contract_address_here
VITE_TOKEN_ADDRESS=put_mock_token_address_here
VITE_USER_ADDRESS=put_user_wallet_address_here
VITE_TOKEN_SYMBOL=CHT
